/*共通*/
.interview {
  display: flex;
  justify-content: space-between;
}
.font-item {
  font-family: "Dancing Script", cursive;
  font-family: "Gorditas", cursive;
  font-family: "Noto Serif JP", serif;
}
* {
  outline: 1px solid red !important;
}
/*ヘッダー*/

.header {
  /*width: 100%;*/
  height: 70px;
  /*padding: 0 30px;*/
  line-height: 70px;
}
.logo-item {
  width: 90px;
  height: 20px;
}
.header-nav {
  margin-right: 40px;
}
.header-nav-list {
  float: right;
  list-style: none;
  display: flex;
}
.li {
  padding-left: 30px;
}

/*初期画面*/

.firstview-content {
  position: absolute;
  top: 30%;
  left: 20%;
}
.firstview-img {
  position: relative;
  left: 30%;
}
div.firstview-secondcontent {
  position: absolute;
  top: 40%;
  left: 20%;
}

/*新着情報*/
.news {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}
.new-information {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
.information {
  width: 100%;
  margin: 50px;
  flex-direction: column;
}
/*.information-nav {
  padding: 15px;
}*/

.date {
  padding: 10px;
}
.news-btn {
  width: 100%;
  height: 500px;

  padding: 5px 10px;
  background-color: rgb(177, 12, 136);
  color: aliceblue;
  border-radius: 30px;
}
.service-content {
  padding: 10px;
}
.border {
  border-width: 1px 0 0 0;
  border-style: solid;
}

.about-img {
  width: 30%;
  height: 300px;
  position: absolute;
  left: 60%;
}
.about-nav {
  width: 100%;
  height: 500px;
  background-color: rgb(240, 235, 235);
}
.first-content {
  width: 100%;
}

.about-title {
  width: 100%;
  text-align: center;
}
h2 {
  width: 100%;
  text-align: center;
}
.display-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
  background-color: rgb(219, 219, 219);
}
.card {
  border: 1px solid #e9eaea;
  border-radius: 10px;
  width: 30%;
  height: 400px;
}

.card-img {
  width: 100%;
}
.tag-line {
  display: flex;
}
.company-information {
  width: 100%;
  margin: 50px 100px;
}

table {
  width: 60%;
  border-collapse: collapse;
  border-color: darkgray;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
}

table th {
  background-color: rgb(241, 241, 241);
}

.img-area {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}
.recruit {
  position: relative;
}
.recruit-information {
  position: absolute;
  top: 40%;
  left: 40%;
  color: aliceblue;
  font-size: large;
  font-weight: bold;
}

.interview {
  position: relative;
}
.interview-content {
  position: absolute;
  top: 40%;
  left: 40%;
  color: aliceblue;
  font-size: large;
  font-weight: bold;
}
.portal-detail {
  text-align: center;
}

.hr {
  flex-direction: column;
}
.portal {
  text-align: center;
  display: inline-block;
  margin: 0 45%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  background-color: rgb(177, 12, 136);
  color: aliceblue;
  box-shadow: 5px 5px 3px #000;
  background: linear-gradient(90deg, rgb(252, 57, 203), rgb(172, 62, 144));
}
